@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    box-sizing: border-box;
    background: url("image/pas zamine.jpeg");
    background-size:cover;
}

body{
    align-items: center;
}
.back{

}
.carousel{
    max-width: 1300px;
    margin: auto;

}
.carousel .card{
    color: #fff;
    text-align: center;

    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);

}
.carousel .card-1{

}
.carousel .card-2{

}
.carousel .card-3{

}
.carousel .card-4{


}
.carousel .card-5{

}
.owl-dots{
    text-align: center;

}
.owl-dot{
    height: 15px;
    width: 45px;
    margin: 0 5px;
    border-radius: 14px;
    border: 2px solid #0072bc!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all .3s ease;

}
.owl-dot.active,
.owl-dot:hover{
    background: #0072bc!important;

}
