*,
*::before,
:root{
    --font-family: IRANYekan,sans-serif;
}
*::after {
    box-sizing: border-box;
}
* {
    background: url("image/pas zamine.jpeg");
    background-size:cover;
}

/* global */
img {
    width: 100%;

}
body{
    align-items: start;
    display: block;

    background-position: 0px ;
}
h1 {
    margin: 0.5rem 0;
    font-family: var(--font-family);
    <!--font-family: bold, serif;-->

}

/* container and cards */
.container {
    position: relative;
    width: 1440px;
    height: 420px;
    overflow: hidden;
    cursor: grab;
    /* border-top: 10px solid #f00; */
    background: url("../image/background/2076086.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 250px;

}

.cards {
    position: absolute;
    top: 20px;
    left: 10px;
    display: grid;
    grid-template-columns: repeat(6, 300px);
    grid-gap: 50px;
    pointer-events: none;
    /* border-bottom: 10px solid #00f; */

}

.card {
    border: 2px solid #ccc;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);


}

.card__content {
    color: white;
    font-size: 18px;
    padding: 1rem;

}
.imageslide{
    pointer-events: all;
}
